#logo {
    width:45px;
    height:45px;
}
#message {
    
        border-radius: 5px;
        padding: 10px;
        padding-right: 700px;
        border-radius: 50px;
        background-color: rgb(224, 223, 223);
}
.h1 {
    font:200px;
}


.footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#top {
    background-color:lightblue
}

.username {
    color: blue;
   
}

#messages{
	height: 450px;
    overflow: scroll;
	margin: 30px;
	max-width: 2000;
	background-color: #ffffff;
    margin-left: 250px;
}
    
