#logo {
    width:45px;
    height:45px;
    position: relative;
    left: 30px;
    top:5px;

}
#logo2 {
    width:45px;
    height:45px;
    
}
#call {
    width:45px;
    height:45px;
    position: relative;
    right:20px;
    top:5px;
}
#video_call {
    width:45px;
    height:45px;
    position: relative;
    top:5px;

}
#info{
    width:45px;
    height:45px;
    position: relative;
    top:5px;
    left:20px;
}
#message {
    
        border-radius: 5px;
        padding: 10px;
        padding-right: 800px;
        border-radius: 50px;
        background-color: rgb(224, 223, 223);
}
.h1 {
    font:200px;
    left: 10px;
}


.footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 20px;
    right: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
}

#top {
    background-color:lightblue
    
}
.topic{
    font-family: 'Patua One', cursive;
}
.username {
    color: rgb(255, 255, 255);
    
    font-family: 'Permanent Marker', cursive;
    font-size:20px;
   
   
}
.message {
    color:white;
    font-size:15px;
    
}

.line-spacing{
 margin-top:20px;
 background-color: #0099ff;
 padding:7px;
 border-radius: 45px;
 font-family: 'Livvic', sans-serif;
 
}


#messages{
	height: 450px;
    overflow: scroll;
	margin: 30px;
	max-width: 2000;
	background-color: #ffffff;
    margin-left: 250px;
  
}

#username {
    left: 10px;
    border-radius: 10px;
    padding: 0px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}
    
