<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic|Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic|Patua+One|Permanent+Marker&display=swap" rel="stylesheet">
<body>
    <div id=top class="row">
        <div class="col-md-1">
            <img id="logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Facebook_Messenger_4_Logo.svg/1024px-Facebook_Messenger_4_Logo.svg.png"></img>
        </div>
        <div class="col-md-9">
            <h1 class= "topic">Face E-Book Messenger</h1>
        </div>
        <div >
            <img id="call"
                 src="https://www.sccpre.cat/png/big/114/1143581_blue-phone-icon-png.jpg"></img>
        </div>
        <div >
                <img id="video_call"
                     src="https://www.stickpng.com/assets/images/5cb78c107ff3656569c8ceba.png"></img>
            </div>
        <div >
                <img id="info"
                     src="https://www.logolynx.com/images/logolynx/9c/9c73792d3e85a72f8dacdce09db31c1d.png"></img>
            </div>
    </div>


    </div>

    <div class="row">
        <div class="col-md-12">


            <div class="col-md-12">

                <div id="messages"> </div>
            </div>
            <div class="footer">
                <input name="username" id="username" placeholder="Enter your Username">
                <img id="logo2"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Facebook_Messenger_4_Logo.svg/1024px-Facebook_Messenger_4_Logo.svg.png"></img>
                <input id="message" name="message" placeholder="Enter Your Message" autofocus>
            </div>
        </div>

        <script src=chat.js></script>

</body>
</head>